body{
    background: rgb(245, 235, 215);
    background-size: cover;
    font-family: sans-serif;
}

.header{
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    background-color: rgb(165, 75, 249);
    margin: 0px;
}

.header .mid{
    align-content: space-between;
}
.left{
    border: 5px double;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(yellow,white,yellow);
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
}
.left img{
    transform: translate(0px,30px);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translate(0px,50px);
}

.navbar ul li{
    display: flex;    
    transform: scale(2);    
}

.navbar li a{
    text-decoration: none;
    color: rgb(249, 235, 235); 
    padding-left:20px;
    padding-right: 20px;
    margin-left: 60px;
    margin-right: 60px;   
}
.navbar li a:hover,.navbar li a.active{
    background-color: aqua;
    color: rgb(46, 45, 45);
    border-radius: 5px;
    border: 1px solid;
}

.bts{
    font-family: sans-serif;
    transform: scale(2);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.right{
    display: inline-block;
    transform: translate(-50px,60px);    
}

.right .bts{
    font-family: sans-serif;
    transform: scale(3);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
}

main img{
    height: 300px;
    width: 500px;
}

h1{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}

h2{
    font-size: 2em;
}
p{
    font-size: 1.3em;
}

main .first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

main .second{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 50px;
}


main .third{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

footer{
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-around;
    justify-content: space-around;
    background-color: yellow;
    text-transform: capitalize;
    text-align: center;
    font-family: sans-serif;
}
footer p{
    transform: translate(0px,-30px);
}
footer button{
    background-color: rgb(7, 7, 32);
    color: yellow;
    height: 80px;
    width: 200px;
    font-size: 20px;
    transform: translate(0px,60px);
}

