body{
    background: url(../img/gym2.jpg);
    background-size: cover;
}

form fieldset{
    border:5px solid orangered;    
}
form legend{
    font-size: 3em;
}
form textarea{
    height: 500px;
    width: 50%;
    font-size: 2em;

}

form button{
    margin: 20px;
    transform: scale(2);
}

a{
    font-size: 2em;
}